<html>
<head>
    <title>Information</title>
    <meta http-equiv="refresh" content="5">
</head>
<body>
    <p>Current time and day: {{time_day}}</p>
    <div>
        
    </div>
    <table>
        <tr>
            <th>Time </th>
            <th>Temperature </th>
            <th>Light  </th>
            <th>Humidity </th>
            <th></th>
        </tr>
        
         {% for item in test %}
         <tr>
            <td>{{time}}</td>
            <td>{{ item.Temperature }}</td>
            <td>{{ item.Light }}</td>
            <td>{{ item.Humidity }}</td>
        </tr>
    {% endfor %}
            
            
            <table>
        
    </table>
   



    
    
</body>
</html>