body{
    height: 100%; 
}

.storeName {
    background-color: lightblue;
    border: solid black ;
    
   
    
}
.storeContact {
    
    background-color: #a8e6cf;
    
    
    
    
}
.menuButton {
    background-color: brown;
    
  
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;  
}